<footer class="navbar w-full text-white" style="background-color: #75B1A9">
  <div class="flex-none w-full flex justify-center">
    <ul class="menu menu-horizontal px-1">
      <li><a class="text-white">利用規約</a></li>
      <li><a class="text-white">プライバシーポリシー</a></li>
      <li><a class="text-white">お問い合わせ</a></li>
    </ul>
  </div>
</footer>
