<div class="hero bg-base-200 min-h-screen py-10">
  <div class="hero-content w-full max-w-3xl mx-auto flex-col">
    
    <div class="text-center mb-6">
      <h1 class="text-3xl font-bold">みんなのレビュー</h1>
    </div>

    <!-- 検索ボックス　-->
    <div class="mb-8 w-full max-w-3xl mx-auto">
      <%= search_form_for @q, url: posts_path, method: :get, html: { class: "w-full" } do |f| %>
        <div class="flex w-full">
          <%= f.search_field :title_or_address_or_body_cont,
              placeholder: "キーワードで検索（例：カフェなどのスポット名や、東京などの地名）",
              class: "input input-bordered rounded-r-none w-full focus:outline-none focus:ring-2 focus:ring-blue-500" %>

          <%= f.submit "検索", class: "btn btn-neutral rounded-l-none" %>
        </div>
      <% end %>
    </div>

    <% if @posts.any? %>
      <div class="w-full space-y-6">
        <%= render @posts %>   <!-- これが_ post.html.erbを1つ1つ呼ぶ -->
      </div>    
    <% else %>
      <div class="text-center text-gray-500 mt-10">
        投稿はまだありません。
      </div>
    <% end %>

  </div>
</div>
